<!-- contact.html -->
    <div class="jumbotron text-center">
        <h1 translate="Contact Page">Contact Page</h1>
		<h4 class="text-center" id="accesspoint-status">
			<a href="http://arduino.vn/ksp"><img style="max-width:320px;" src="templates/images/avatar.jpg"></a>
		</h4>
        <p><span translate="Fullname">Fullname</span>: Ngô Huỳnh Ngọc Khánh (@ksp)</p>
		<p>Email: <a href="mailto:nhnkhanh@arduino.vn">nhnkhanh@arduino.vn</a></p>
		<p>Website: <a href="http://arduino.vn/ksp">http://arduino.vn/ksp</a></p>
    </div>